<div class="message {{class}} ai1ec-message">
	{% if label is not defined %}
    {% set label = text_label %}
	{% endif %}
	<p><strong>{{ label }}:</strong></p>
	{{ message | raw }}

	{% if persistent %}
		<button class="button button-primary ai1ec-dismissable"
			data-key="{{ msg_key }}">
			{{ text_dismiss_button }}
		</button>
	{% endif %}
	<p></p>
</div>
