<p>{{ text_common_info | raw }}</p>
{% if display_alert %}
	<div class="ai1ec-alert ai1ec-alert-warning">
		{{ text_alert | raw }}
		{{ text_alternatives | raw }}
	</div>
{% endif %}
<div class="ai1ec-col-12">
	<ul class="ai1ec-nav ai1ec-nav-pills" role="tablist">
		{% for id, data in tabs %}
			<li>
				<a href="#{{ id | e('html_attr') }}" data-toggle="ai1ec-tab" >
					<i class="{{ data.icon }} ai1ec-fa-lg ai1ec-fa-fw"></i>
					{{ data.name | raw }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
<div class="ai1ec-col-md-6">
	<div class="ai1ec-tab-content">
		{% for id, data in tabs %}
			<div class="ai1ec-tab-pane" id="{{ id }}">
				{% if data.requirements is not empty %}
					<div class="ai1ec-alert ai1ec-alert-info">
						<i class="ai1ec-fa ai1ec-fa-info-circle ai1ec-fa-fw"></i>
						{{ data.requirements | raw }}
					</div>
				{% endif %}
				{% for element in data.elements %}
					{{ element | raw }}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>
<div class="ai1ec-col-md-6">
	<p><strong>{{ text_paste | raw }}</strong></p>
	<pre id="ai1ec-superwidget-code" class="ai1ec-autoselect"
		 data-widget-url="{{ siteurl | e('html_attr') }}?ai1ec_js_widget"></pre>
	<div class="ai1ec-alert ai1ec-alert-info">
		<i class="ai1ec-fa ai1ec-fa-info-circle ai1ec-fa-fw"></i>
		{{ text_updated_code
			| format( 'http://time.ly/document/manage-add-ons/embed-calendar-sites-super-widget/' )
			| raw }}
	</div>
</div>
<h2 id="widget-preview-title">{{ text_preview }}</h2>
<div id="ai1ec-superwidget-preview" class="ai1ec-well ai1ec-hidden"></div>
